@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.create-form label{
  color: whitesmoke ;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px ;
}
.main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #db9191;
  color: whitesmoke;
  flex-direction:column;
}